
CERT_DIR="./infrastructure/certs"
SHARED_SSL_CERT_FILE="localhost.pem"
SHARED_SSL_KEY_FILE="localhost-key.pem"

# SSL_CERT_FILE and SSL_KEY_FILE env variable names can cause conflicts with
# SSL certificates configuration in packages like OpenAI

# external ports for services
AUTH_EXTERNAL_PORT=8001
USER_EXTERNAL_PORT=8002
RAG_EXTERNAL_PORT=8003
INGEST_EXTERNAL_PORT=8004
DOCUMENT_PROCESSOR_EXTERNAL_PORT=8005
NOTIFICATION_EXTERNAL_PORT=8006
AUDIT_EXTERNAL_PORT=8007
API_GATEWAY_EXTERNAL_PORT=8000
