PG_USER="postgres"
PG_PASSWORD="db_password"
PG_DB="rag_db"

DATABASE_URL="postgresql+asyncpg://postgres:db_password@postgres:5432/rag_db"

# INGEST_SERVICE_ORIGIN="https://localhost:8004"
INGEST_SERVICE_ORIGIN="https://ingest-service:8000"
# # INGEST_SERVICE_ORIGIN="http://ingest-service:8004"

ROOT_CERT_PATH="/certs/rootCA.pem"

QDRANT_HOSTNAME="qdrant"
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334

HF_HOME=/data/hf-cache
HUGGINGFACE_HUB_CACHE=/data/hf-cache

PGADMIN_DEFAULT_EMAIL="testuser@example.com"
PGADMIN_DEFAULT_PASSWORD="db_password"

KAFKA_BOOTSTRAP_SERVERS="kafka:29092"

# Ensure this is replaced with a secure secret in production
JWT_SECRET = "placeholder-secret"
# JWT_ALGORITHM = "HS256"
JWT_TOKEN_URL = "https://auth-service/api/v1/token"
JWT_TOKEN_EXPIRES_IN = "259200" # 3 days in seconds


REDIS_HOST="redis"
REDIS_PORT="6379"
# REDIS_PASSWORD=""
# REDIS_CACHE_KEY_PREFIX="ingest_service"

# Azure details for contacting sharepoint lists / document libraries
AZURE_TENANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_SECRET="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"


SHAREPOINT_SITE_URL="https://acme.sharepoint.com/sites/Test"
SHAREPOINT_LIBRARY_IDS='["xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"]' # JSON String

# SHAREPOINT_INGEST_POLL_ENABLED=true
# SHAREPOINT_INGEST_POLL_INTERVAL_SECONDS=300
# SHAREPOINT_INGEST_LOCK_TTL_SECONDS=600

