uvicorn[standard]
fastapi[standard]
httpx

python-dotenv
pydantic-settings

python-jose[cryptography]

sqlalchemy
asyncpg
alembic

# ? specialized packages for vector db management, vector search and embeddings
qdrant-client[fastembed]

openai[aiohttp]

docling
docling-core[chunking-openai]
# rapidocr
langchain-text-splitters

argon2-cffi # for password hashing and verification

aiokafka # or confluent-kafka or kafka-python
redis
tenacity

orjson

grpcio
grpcio-tools
protobuf

celery

debugpy

pytest
pytest-asyncio

azure-identity
msgraph-sdk

# -e ../../packages/shared
# -e ../../packages/contracts
# -e ../../

git+https://github.com/judeakinwale/rag_packages.git@main

