PG_USER="postgres"
PG_PASSWORD="db_password"
PG_DB="ingest_db"

DATABASE_URL="postgresql+asyncpg://postgres:db_password@postgres:5432/ingest_db"

QDRANT_URL="qdrant:6334"

PGADMIN_DEFAULT_EMAIL="testuser@example.com"
PGADMIN_DEFAULT_PASSWORD="db_password"

KAFKA_BOOTSTRAP_SERVERS="kafka:29092"

# Ensure this is replaced with a secure secret in production
JWT_SECRET = "placeholder-secret"
# JWT_ALGORITHM = "HS256"
JWT_TOKEN_URL = "https://auth-service/api/v1/token"
JWT_TOKEN_EXPIRES_IN = "259200" # 3 days in seconds


REDIS_HOST="redis"
REDIS_PORT="6379"
# REDIS_PASSWORD=""
# REDIS_CACHE_KEY_PREFIX="ingest_service"

# Azure details for contacting sharepoint lists / document libraries
AZURE_TENANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_SECRET="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"


SHAREPOINT_SITE_URL="https://acme.sharepoint.com/sites/Test"
SHAREPOINT_LIBRARY_IDS='["xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"]' # JSON String

# SHAREPOINT_INGEST_POLL_ENABLED=true
# SHAREPOINT_INGEST_POLL_INTERVAL_SECONDS=300
# SHAREPOINT_INGEST_LOCK_TTL_SECONDS=600

