PG_USER="postgres"
PG_PASSWORD="db_password"
PG_DB="user_db"

DATABASE_URL="postgresql+asyncpg://postgres:db_password@postgres:5432/user_db"

PGADMIN_DEFAULT_EMAIL="testuser@example.com"
PGADMIN_DEFAULT_PASSWORD="db_password"

KAFKA_BOOTSTRAP_SERVERS="kafka:29092"

# Ensure this is replaced with a secure secret in production
JWT_SECRET = "placeholder-secret"
# JWT_ALGORITHM = "HS256"
JWT_TOKEN_URL = "https://auth-service/api/v1/token"
JWT_TOKEN_EXPIRES_IN = "259200" # 3 days in seconds
